<header>
    <nav>
        <ul>
            <li><a routerLink="/">Accueil</a></li>
            <li>
                <a routerLink="/demo">Demos</a>
                <ul>
                    <li><a routerLink="/demo/demo1">Demo 1 - Bindings</a></li>
                    <li><a routerLink="/demo/demo2">Demo 2 - Les Pipes</a></li>
                </ul>
            </li>
        
            <li>
                <a routerLink="/exo">Exos</a>
                <ul>
                    <li><a routerLink="/exo/exo1">Exercice1 - ???</a></li>
                </ul>
            </li>

            <li> <a routerLink="/rappels">Rappels</a> </li>
        </ul>
    </nav>
</header>
