<div class="content">
    <h1>Rappels</h1>

    <div class="chapter">
        <h2>Rappel 1 : Bindings</h2>
        <div>3 types :
            <ul>
                <li>Property : {{ oneway }} (one way) ngmodel (two way) (! ne pas oublier l'import de FormsModule dans
                    le module où voulez l'utilisez)</li>
                <li>
                    Attribute []
                </li>
                <li>
                    Event ()
                </li>
            </ul>
        </div>
    </div>

    <div class="chapter">
        <h2>Rappel 2 : Les pipes</h2>
        <div>  {{ aPiper | uppercase }} </div>
    </div>
</div>