<h2>Input & Output - Dialogue entre composants</h2>
<div class="chapter">
    <div class="parent">
        <p>Bonjour, je suis le parent</p>
        <p>Mon enfant a besoin de {{childNeed}}</p>
        <app-demo4enfant [parentFirstname]="firstname" [parentHobbies]="hobbies" (sendNeed)="receiveNeed($event)">
            <p>Pouet pouet</p>
            <p>Pouet²</p>
        </app-demo4enfant>
    </div>
</div>

<div class="chapter">
    <p *ngIf="!trainerOfTheDay"> ... En attente du formateur du jour ...</p>

    <p *ngIf="trainerOfTheDay"> Le formateur du jour est {{ trainerOfTheDay.firstname }} {{ trainerOfTheDay.lastname }} </p>

    <div class="cards">
        <app-trainer-card *ngFor="let formateur of trainers" [trainer]="formateur" (sendTrainer)="changeTrainer($event)"></app-trainer-card>
    </div>
</div>