<h2>Demo 3 - Les Directives</h2>
<div class="chapter">
    <h3>Les components directives</h3>
    <div>
        <h4>Le ngModel</h4>
        <p>Permet de faire le binding Two-Way</p>
        <a class="btn" routerLink="/demo/demo1">Voir demo 1 - Binding Two Way</a>
    </div>
    <div>
        <h4>Le ngStyle</h4>
        <p [ngStyle]="{color: colors[currentColor], backgroundColor : 'pink'}">Joyeux Noël !</p>
    </div>
    <div>
        <h4>Le ngClass</h4>
        <p [ngClass]="{big : isBig, bold : isBold, italic : isItalic}">Le changement, c'est maintenant ! </p>
        <button (click)="toggleBold()" class="btn">Gras/Pas gras</button>
        <button (click)="toggleItalic()" class="btn">Italique/Pas italique</button>
        <button (click)="toggleBig()" class="btn">Gros/Petit</button>
    </div>
</div>

<div class="chapter">
    <h3>Les structurals directives</h3>
</div>

<div class="chapter">
    <h3>Les custom directives</h3>
</div>
