<h2>Les Bindings</h2>

<div class="chapter">
    <h3>Property Binding</h3>
    <div>
        <h4>One-Way Binding</h4>
        <p>Bonjour et bienvenue {{ firstname }} {{ lastname }}</p>
    </div>
    <div>
        <h4>Two-Way Binding</h4>
        <input type="text" [(ngModel)]="lastname" >
    </div>
</div>

<div class="chapter">
    <h3>Event Binding</h3>
    <button class="btn" (click)="direBonjour('fr')">Dire bonjour en français</button>
    <button class="btn" (click)="direBonjour('nl')">Dire bonjour en néerlandais</button>
    <button class="btn" (click)="direBonjour('de')">Dire bonjour en allemand</button>
    <p> {{ message }} </p>
    
</div>

<div class="chapter">
    <h3>Attribute Binding</h3>
    <div class="flex-row">
        <img [src]="monUrlImg" alt="quoicoubeh">
        <div>
            <button class="btn" (click)="toggleIsActive()">Activer/Désactiver</button>
            <button class="btn" [disabled]="isActive">Click Me</button>
            <input type="text" [placeholder]="monPlaceholder">
        </div>
    </div>
</div>