/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    width: 80vw;
    min-height: 100vh;
}

.flex-row {
    display: flex;
}

.content {
    padding: 0.5rem 2rem;
}