/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    width: 80vw;
    min-height: 100vh;
}

.flex-row {
    display: flex;
}

.content {
    padding: 0.5rem 2rem;
}

.chapter {
    padding: 0.5rem 1rem;
    background-color: rgb(200, 205, 210);
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.75rem 1rem;
    background-color: lightslategray;
    color : whitesmoke;
    border: 1px solid lightslategray;
    border-radius: 0.75rem;
    font-size: medium;
    margin : 0 0.5rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color : lightslategray;
        background-color: whitesmoke;
    }

    &[disabled] {
        background-color: rgb(192, 202, 212);
        color : lightslategray;
        border: 1px solid lightslategray;
        cursor: auto;

    }
    &:not(:disabled) {    
    &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    } }

}

input, select {
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    font-size: medium;
    border: 1px solid lightslategray;
    margin : 0 0.5rem;

    &:focus {
        outline: 2px solid lightslategray;
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding : 0.5rem 1rem;
}

.error {
    font-size: small;
    color : darkred;
}